.App {
  text-align: center;
}
/* #email,#pass,#name{
  width:25%;
  
} */
.form-control{
  margin:0 auto;
  
}
#form{
  background-color: white;
  box-shadow: 0 0 6px 8px grey;
  margin:0 auto;
  margin-top:10%;
  width:25%;
  padding:20px;
  border-radius: 8px;
}
/* #insertbtn,#cancelbtn{
  margin-left:25%;
} */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
.table{
  width: 80%;
  margin:0 auto;
  box-shadow: 6px 6px 10px grey;
}
h1{
  text-align: center;
}
